<html>
  <head>
    <title>Login code for When Did I</title>
    {{> styles}}
  </head>
  <body>
    <div class="when-did-i-msg">
      <div class="when-did-i-space-top">
        <p>You have requested a login code to When Did I.</p>
      </div>
      <div class="when-did-i-code when-did-i-space-top">{{code}}</div>
      {{> footer}}
    </div>
  </body>
</html>