<html>
  <head>
    <title>Magic link to When Did I</title>
    {{> styles}}
  </head>
  <body>
    <div class="when-did-i-msg">
      <div class="when-did-i-space-top">
        <p>You have requested to login to When Did I.</p>
      </div>
      <a href={{returnUrl}} class="when-did-i-button when-did-i-space-top" target="_blank" rel="noopener noreferrer">Login</a>
      {{> footer}}
    </div>
  </body>
</html>