<footer class="when-did-i-space-top">
  <p>All the best,</p>
  <div class="when-did-i-footer-id-block">
    <img src="https://sixly.mjt.lu/img2/sixly/263c9357-9d2b-4ed9-9200-577405531bab/content" alt="when-did-i" />
      <div class="when-did-i-footer">When Did I Support</div>
  </div>
</footer>